.profile-img {
    /* Imaginea de profil rotunda! */
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center right;
  }
  /* Stilizarea paginilor de autentificare! */
  .context {
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: sans-serif;
	line-height: 1.5;
	min-height: 100vh;
	background: #7fdfc7;
	flex-direction: column;
	margin: 0;
}
.main {
	background-color: #ffffff4b; 
	border-radius: 15px; 
	box-shadow: 0 0 35px rgba(87, 87, 87, 0.5); 
	padding: 10px 20px; 
	transition: transform 0.5s; 
	width: 500px; 
	text-align: center; 
}
.main:hover{
    transform: scale(1.05);
} 

/* Stilizarea navbarului top image si nume */
.top-bar{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.link-sidebar{
	display: flex;
	flex-direction: row;
	align-items: center;
}
.link-sidebar:hover{
	background-color: rgba(57, 149, 255, 0.747);
	transform: scale(1.05);
	transition-duration: 50ms;
}
.img-sidebar:hover{
	transform: scale(0.95);
	transition-duration: 50ms;
}
.sidebar-box{
	background-color: #dbdbdbce !important;
	border-bottom-right-radius: 20px;
	border-top-right-radius: 20px;
	box-shadow: 1px 0px 10px rgba(128, 128, 128, 0.884);
}

/* Stilizare denumire website */
.web-name{
	text-align: center;
	font-family: "Frank Ruhl Libre", serif;
	font-size: 50px;
	text-shadow: 3px 5px 10px #4e4e4ebe;
}
.web-name-color-datasets{
	color:#ff6600cb;
}
.web-name-color-factory{
	color:rgba(57, 149, 255, 0.904);
}
/* Stilizare pagina generala  */
body{
	background-color: #EEEEEE;
}
/* Stilizare Card pentru dataseturi! */
.aliniaza-img{
	display: flex;
	align-items: center;
	padding-left: 12px;
	padding-right: 12px;
}
.aliniaza-close{
	display: flex;
	justify-content: center;
}
.x-padd{
	margin-top: 10px ;
	font-weight: bold;
	height: fit-content;
	border-radius: 50%;
}
.a-padd{
	height: fit-content;
	text-decoration: none;
	color: rgba(255, 0, 0, 0.685) !important;
}
.a-padd:hover{
	color:white !important;
}
.x-padd:hover{
	transform: scale(1.2);
	transition: 0.5s;
	background-color: rgba(255, 0, 0, 0.438) !important;
}
.dataset-box{
	background-color: rgb(219, 219, 219);
}
.text-inside{
	width: fit-content;
	height: 100px;
	overflow-y:auto;
}
/* Search an dataset */
input[type=text] {
	width: 150px;
	box-sizing: border-box;
	border: 2px solid rgba(57, 149, 255, 0.3);
	border-radius: 4px;
	font-size: 20px;
	background-color: rgba(57, 149, 255, 0.3);
	background-image:url('/search.svg');
	background-position: 5px 50%; 
	background-repeat: no-repeat;
	padding: 0px 40px 0px 40px;
	-webkit-transition: width 0.4s ease-in-out;
	transition: width 0.4s ease-in-out;
  }
  
  input[type=text]:focus {
	width: 100%;
  }
  /* Aliniere navbar dataset */
  div.bread-dataset{
	display: flex;
	justify-content: center;
	align-items: center;
  }
  ol.bread-dataset{
	margin:0;
  }