/* Imaginea de profil rotunda! */
.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center right;
  }

/* Stilizarea paginilor de autentificare! */
.context {
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: sans-serif;
	line-height: 1.5;
	min-height: 100vh;
	flex-direction: column;
	margin: 0;
}
.main {
	background-color: rgba(223, 223, 223, 0.29);
	border-radius: 15px;
	box-shadow: 0 0 25px rgba(123, 123, 123, 0.5);
	padding: 10px 20px;
	transition: transform 0.8s;
	width: 40%;
	text-align: center;
}
label.label-auth {
	display: block;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 5px;
	text-align: left;
    color: #3131319f;
	font-weight: bold;
}
input.input-auth {
	display: block;
	width: 100%;
	margin-bottom: 15px;
	padding: 10px;
	box-sizing: border-box;
}
h2.title-auth{
	color: rgba(109, 109, 109, 0.7);
	font-family: "Frank Ruhl Libre", serif;
}
input.submit-auth {
	width: 100% ;
	border-color: rgba(57, 149, 255, 0.9);
	color: rgba(57, 149, 255, 0.9);
	margin-bottom: 15px;
	margin-top: 15px;
	font-weight: bold;
}
input.submit-auth:hover{
	background-color: rgba(57, 149, 255, 0.9);
	border-color: rgba(57, 149, 255, 0.9);
}
div.web-name-log{
	width: 100%;
}
h1.web-name-log{
	text-align: center;
	font-family: "Frank Ruhl Libre", serif;
	font-size: 50px;
	text-shadow: 3px 5px 10px #4e4e4ebe;
}
/* Stilizarea navbarului top image si nume */
.top-bar{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.link-sidebar{
	display: flex;
	flex-direction: row;
	align-items: center;
}
.link-sidebar:hover{
	background-color: rgba(57, 149, 255, 0.747);
	transform: scale(1.05);
	transition-duration: 50ms;
}
.img-sidebar:hover{
	transform: scale(0.95);
	transition-duration: 50ms;
}
.sidebar-box{
	background-color: rgba(223, 223, 223, 0.29) !important;
	border-bottom-right-radius: 20px;
	border-top-right-radius: 20px;
	box-shadow: 1px 0px 10px rgba(128, 128, 128, 0.884);
}

/* Stilizare denumire website */
h1.web-name{
	text-align: center;
	font-family: "Frank Ruhl Libre", serif;
	font-size: 50px;
	text-shadow: 3px 5px 10px #4e4e4ebe;
	margin: 0;
}
.web-name-color-datasets{
	color:#ff6600cb;
}
.web-name-color-factory{
	color:rgba(57, 149, 255, 0.904);
}
/* Stilizare pagina generala  */
body{
	background-color: #EEEEEE;
}

/* Stilizare boxurilor continutului paginii*/
div.content-page{
	border-radius: 15px;
	margin-top: 10px !important;
	background-color: rgba(223, 223, 223, 0.29);
	box-shadow: 1px 0px 5px rgba(128, 128, 128, 0.8);
}
div.web-name-div{
	border-radius: 15px;
	margin-top: 10px !important;
	background-color: rgba(223, 223, 223, 0.29) ;
	box-shadow: 1px 0px 5px rgba(128, 128, 128, 0.8);
}

/* Stilizare div de alert*/
div.error-div{
	margin-top: 10px !important;
	box-shadow: 1px 0px 5px rgb(208, 230, 220);
}

/*Stilizare pagina de profil*/
#InputImage{
	visibility: hidden;
}
.label-upload{
	cursor: pointer;
	color: #86989B ;
	height: 40px;
	width: 75px;
	border-style: solid;
	border-width: 1px;
	border-color: #177199;
	border-radius: 8px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.label-upload:hover{
	color: #ffffff;
	background-color: #177199;
}
span.material-symbols-outlined:hover{
	cursor: pointer;
	color: #177199;
}